 <footer>
  <!--bottom_nav.ejs,Marcus Charles,301015342, October 5,2023-->
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;2023 All rights reserved -Marcus Charles</h6>
    </div>
    </nav>
  

      </footer>