<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <!--products.ejs,Marcus Charles,301015342, October 5,2023-->
  <header>
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Projects page</h1>
      </div>
  </header>
  <table>
    <tr>
      <td>
        <img src = "/img/marcus-charles-axe1-marcusc.png" alt = "Link to image portfolio: https://www.artstation.com/artwork/OmrwZ8" height="400">
      </td>
      <td>
        <h2>A project that focuses on the creation of a prop using Box Modelling and a bit of sculpting techniques. The project was created using the programs Blender and Substance Painter
        I am fully responsible for the creation of this piece, I created the design, 3D model and textures for this asset.</h2>
      </td>
    </tr>
  </table>
    <br>
    <h3>Project 2: SAW Torture Trap</h3>
    <table>
      <tr>
        <td>
          <img src = "/img/marcus-charles-highresscreenshot00003.png" alt = "Link to image portfolio: https://www.artstation.com/artwork/WK5zxv" height="400">
        </Td>
        <td>
          <h2>A project that focuses on the creation of a complex prop.
          I am fully responsible for the creation of the primary props in the environment which include the tape recorder
          and head trap. I used Blender, Substance Painter and Unreal Engine for this project.
          The table and surrounding environment were taken from Quixel</h2>
        </td>
    </tr>
  </table>
    <br>
    <h3>Project 3: A Quiet Hallway</h3>
    <table>
      <tr>
      <td>
        <img src = "/img/marcus-charles-highresscreenshot00025.png" alt = "Link to image portfolio: https://www.artstation.com/artwork/GegXDB" height="400">
      </td>
    <td>
      <h3>
      My most recent project. which I concluded a few months ago, which involved the creation of an entire enclosed
      environment within Unreal Engine. To create this piece I used Blender, Substance Painter, Krita and Substance Designer
      Most assets were created by me, save for the decals of the scattered paper and wall destruction which I sourced from Quixel.
      </h3>
    </td>
  </table>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   